MyWindowsService/MSG00409.bin
MyWindowsService/.vs
Debug/
Release/
MyWindowsService/MyWindowsService.vcxproj.user
MyWindowsService/MyWindowsService.vcxproj.filters
MyWindowsService/resource.h
MyWindowsService/MyWindowsServiceMessage.dll
MyWindowsService/MyWindowsServiceMessage.h
MyWindowsService/MyWindowsServiceMessage.rc
MyWindowsService/MyWindowsServiceMessage.res
MyWindowsService/build/Win32/_setup.bat
MyWindowsService/build/Win32/_setup.bat
MyWindowsService/build/x64/_setup.bat
MyWindowsService/build/x64/LUSC.exe
MyWindowsService/build/Win32/MyWindowsService.exe
MyWindowsService/build/Win32/MyWindowsService.pdb
MyWindowsService/build/x64/MyWindowsService.exe
MyWindowsService/build/x64/MyWindowsService.pdb
MyWindowsService/build/Win32/_setup.bat
MyWindowsService/build/Win32/MyWindowsService.exe
MyWindowsService/build/x64/_setup.bat
MyWindowsService/build/x64/MyWindowsService.exe
MyWindowsService/build/Win32/_setup.bat
MyWindowsService/build/Win32/MyWindowsService.exe
MyWindowsService/build/x64/_setup.bat
MyWindowsService/build/x64/MyWindowsService.exe
