MyWindowsService/MyWindowsService/x64/Release/
MyWindowsService/MyWindowsService/Release/
MyWindowsService/MyWindowsService/x64/Debug/
MyWindowsService/MyWindowsService/Debug/
MyWindowsService/.vs/
MyWindowsService/MSG00409.bin
MyWindowsService/MSG0040C.bin
MyWindowsService/build/Win32/*.bat
MyWindowsService/build/Win32/MyWindowsService.exe
MyWindowsService/build/Win32/MyWindowsService.pdb
MyWindowsService/build/x64/*.bat
MyWindowsService/build/x64/MyWindowsService.exe
MyWindowsService/build/x64/MyWindowsService.pdb
MyWindowsService/x64/Debug/_setup.bat
MyWindowsService/x64/Debug/_start.bat
/MyWindowsService/x64/Debug
/MyWindowsService/x64/Release
